
<h2 class="page-header">Dashboard</h2>
<p><strong>Welcome to your Dashboard</strong></p>

<form method="post" action="/users/postComment">
Message:<br/><input type="text" name="message"  style="height: 80px; width:400px" placeholder="Type your tweet here" >
<br/><br/>
    <button type="submit" class="btn btn-default">Update Status</button>
</form>



